.form,
greetings{
    display: none;
}
.showing{
    display: block;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-image: url("./img/fff.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.momentum-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.js-title{
    font-size: 80px;
    color: #ecf0f1;
    margin-bottom: 30px;
}
.greetings{
    color: #ecf0f1;
    font-size: 25px;
}
input{
    font-size: 20px;
    color: #ecf0f1;
    border-top : none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #ecf0f1;;
    width: 320px;
    height: 30px;
    transition: box-shadow 0.3s ease-in-out,
                transform 0.5s ease-in-out;
    background: transparent;
}
input::placeholder {
    font-size: 20px;
    color: #ecf0f1;
}
input:focus{
    outline:none;
}
input:hover{
    box-shadow: rgba(255, 255, 255, 0.5) 0px 8px 10px -8px;
    transform: translate(-0.8px, -0.8px);

}

